<div class="background">
    <div class="container">
        <app-header></app-header>
        <hr class="linha1">
        <div class="menu">
            <div class="historico">
                <div class="perguntas">
                </div>
            </div>
            <div class="formulario">
                <div class="conversa">
                </div>
                <br>
                <div class="digitar">
                    <div class="inserirMensagem">
                    </div>
                    <div class="enviar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>